@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvasZone {
  width: 100vw;
  height: 100vh;
  display: block;
}

#canvas {
  display: block;
  outline: none;
  width: 100%;
  height: 100%;
  touch-action: none;
  display: block;
  font-size: 0;
}

#chatbox {
  position: absolute;
  bottom: 5%;
  left: 5px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  user-select: none;
  transition: opacity 3s ease-in-out;
}

.chatbox__read {
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, .25);
  overflow: scroll;
  overflow-x: hidden;
}

.chatbox__read__container {
  display: flex;
  margin: 10px 7px;
  font-family: 'Roboto';
  font-size: 18px
}

.chatbox__read__owner {
  font-weight: bold;
}

.chatbox__read__message {
  color: white;
  margin-left: 5px;
  word-break: break-word;
}

.chatbox__write {
  width: auto;
  height: 30px;
  background: rgba(0, 0, 0, .45);
  border: none;
  color: white;
  padding: 3px 10px;
}

.chatbox__write:focus {
  background: rgba(0, 0, 0, .7);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .55); 
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 1); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 1); 
}

#mainmenu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  display: block;
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-image: url('assets/images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainmenu__form {
  z-index: 1;
  background: rgba(40, 12, 73, 0.75);
  max-width: 360px;
  margin: 15% auto 100px;
  padding: 45px;
  text-align: center;
  color: #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.mainmenu__form input, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.mainmenu__form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(40, 12, 73);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.mainmenu__form .error__message {
  margin: 15px 0 0;
  color: #ff0000;
}

.mainmenu__form button:hover,
.mainmenu__form button:active,
.mainmenu__form button:focus {
  background: rgb(54, 18, 106);
}
